.container {
  display: flex;
  background-color: white
}

.item-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}